.wrapper{
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr; /*fr é uma unidade estrategica quando queremos dizer que algo vai ser flexivel e ter que se adaptar*/
    gap: 2rem;
    align-items: flex-start;
}